<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar senha</title>
</head>
<body>
    <h1>Olá {{ email }}</h1>

    <p>Por favor, use esse token para alterar sua senha de acesso: <b>{{ reset_password_token.key }}</b></p>

    <p>Esse token expira em 60 minutos!</p>

    <p>Se você não solicitou esse email, por favor ignore essa mensagem!</p>
</body>
</html>